<div class="container">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <div class="navbar-nav">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            ariaCurrentWhenActive="page"
            >Home</a
          >
          <a
            class="nav-link"
            routerLink="/feature-1"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Feature One</a
          >
          <a
            class="nav-link"
            routerLink="/feature-2"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Feature Two</a
          >
        </div>
      </div>
    </div>
  </nav>

  <h1 class="text-center m-4">Floating Action Bar (FAB) in Angular</h1>

  <router-outlet />

</div>
