<div class="main-container">
  <h1>Feature 1</h1>
  <button class="btn btn-primary" [disabled]="appFab.visible" (click)="appFab.open()">Feature one actions</button>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed mattis
    tellus, quis eleifend nibh. Suspendisse sit amet nibh mauris. Mauris sit
    amet pharetra erat, tempus scelerisque sapien. Maecenas mollis mauris vel
    commodo ultricies. Suspendisse ac pulvinar leo. Etiam sodales leo eu elit
    placerat ullamcorper. Nunc sollicitudin congue quam, bibendum eleifend orci
    rutrum vitae. Fusce ut ipsum ornare, pharetra massa quis, consectetur justo.
    Nam tincidunt metus ut vestibulum tincidunt. Sed dignissim varius arcu, et
    sodales lectus mollis sed. Sed accumsan id lorem vitae eleifend. Curabitur
    eu vehicula lectus, in fringilla ipsum. Morbi fermentum, libero gravida
    cursus efficitur, justo erat sollicitudin mauris, vel sollicitudin purus leo
    id tellus. Proin interdum est a tortor hendrerit tempus. Phasellus faucibus,
    magna sed euismod ultricies, mauris arcu porta augue, non viverra ipsum
    massa id tortor. Vivamus diam est, ornare quis justo sed, faucibus mollis
    felis.
  </p>
  <p>
    Ut maximus, orci eu venenatis porta, erat massa aliquet ante, id cursus
    ipsum quam vel ipsum. Maecenas et lacinia urna. Aenean vel quam vel augue
    porta accumsan. Aenean varius vitae risus sed tempus. Donec feugiat eros id
    orci convallis fermentum. Praesent gravida felis et tellus luctus placerat.
    In blandit at turpis aliquam feugiat. Vestibulum tincidunt, mi nec viverra
    blandit, tortor dolor tempus enim, id laoreet ex ipsum eget magna. Etiam
    volutpat maximus felis vel tincidunt. Pellentesque tempor scelerisque
    accumsan.
  </p>
  <p>
    Donec ut massa urna. Praesent bibendum lacinia ipsum eget volutpat. Donec
    vestibulum a lorem eget placerat. Suspendisse sed condimentum nibh. In
    faucibus efficitur dui, vitae euismod ligula auctor non. Interdum et
    malesuada fames ac ante ipsum primis in faucibus. Donec sodales sem nisi, at
    blandit nunc sagittis non. Phasellus vitae hendrerit nisi. Maecenas sagittis
    nisl id elit aliquet, non malesuada lectus pharetra. Quisque ultricies
    fringilla tellus vitae imperdiet. Sed volutpat posuere erat.
  </p>
  <p>
    Maecenas dignissim ex nec facilisis tempor. Proin volutpat sagittis quam in
    egestas. Aenean ultricies augue vitae eros sollicitudin, sed ornare libero
    imperdiet. Fusce vitae turpis metus. In egestas, lorem at placerat dapibus,
    magna nisi commodo eros, nec tempus orci lorem at tortor. Mauris aliquam
    felis nec vulputate finibus. Nunc pellentesque condimentum hendrerit. Ut
    dignissim facilisis consectetur. Nam id tristique turpis, sit amet tristique
    velit. Aenean convallis est diam, ut ultricies mauris sollicitudin sed.
  </p>
  <p>
    Phasellus ipsum ante, porta iaculis posuere ut, lacinia vitae tortor.
    Vestibulum tincidunt odio quis erat consequat, non cursus magna posuere. Sed
    quis hendrerit augue, eget volutpat lacus. Nunc cursus dictum ipsum. Aenean
    ligula nisi, molestie quis massa vel, tincidunt varius elit. Sed sapien
    elit, fringilla sed elementum at, consectetur nec lorem. Sed finibus iaculis
    rutrum. Nunc congue quam at lectus volutpat, eu consequat diam lobortis.
  </p>
  <p>
    Suspendisse efficitur sem sit amet vulputate tempus. Vestibulum justo augue,
    elementum eu dapibus sit amet, lobortis vitae lectus. Nulla dignissim
    consequat elit sit amet dignissim. Suspendisse et dui quam. In viverra
    euismod mattis. Interdum et malesuada fames ac ante ipsum primis in
    faucibus. Aenean tempor magna eget nulla aliquet tincidunt.
  </p>
  <p>
    Donec commodo, justo sit amet consequat tincidunt, justo justo vulputate
    turpis, ut tristique velit augue aliquet nunc. Suspendisse potenti. Quisque
    non cursus sapien. Class aptent taciti sociosqu ad litora torquent per
    conubia nostra, per inceptos himenaeos. Integer convallis, urna ac pretium
    iaculis, neque sapien consectetur risus, interdum finibus augue nibh quis
    urna. Donec molestie vulputate neque in ornare. Mauris efficitur massa ut
    enim pellentesque, sollicitudin eleifend dui ornare. Etiam ac risus ut nisl
    sagittis rutrum.
  </p>
  <p>
    Vestibulum eget faucibus sem. Cras eu urna ut arcu efficitur commodo. Cras
    dolor justo, imperdiet eu eleifend vitae, scelerisque at eros. Curabitur
    nibh nulla, imperdiet vitae nibh id, viverra pulvinar massa. Donec pulvinar
    elementum massa, ac ultrices leo mollis nec. Sed odio quam, bibendum ut
    dignissim non, pulvinar sit amet nisi. Fusce sit amet gravida diam, non
    porta metus. Sed a elit nec diam euismod feugiat. Pellentesque scelerisque
    augue enim, a feugiat sapien varius a. Sed volutpat pretium venenatis.
    Phasellus porttitor luctus est, egestas molestie nulla varius sit amet.
    Nullam dapibus mauris at porttitor tincidunt. Phasellus nec enim tincidunt,
    ullamcorper lectus nec, mollis dolor.
  </p>
  <p>
    Duis purus lectus, laoreet vitae mi et, tempor dapibus nulla. Proin vel diam
    et dolor porta ultrices. Suspendisse in lorem nunc. Morbi ac blandit orci,
    eget aliquam felis. Nunc ex turpis, porta eu nunc sit amet, feugiat tempor
    diam. Fusce pellentesque nunc ut fermentum rhoncus. Etiam egestas, massa
    quis mattis viverra, massa est dignissim orci, quis feugiat lorem dui vel
    urna. Cras at lectus eget augue venenatis faucibus. Suspendisse rutrum arcu
    ac libero fermentum feugiat. Mauris tristique sapien neque, eu posuere lacus
    imperdiet eget. Phasellus eu magna id dui molestie vehicula sed in tortor.
  </p>
  <p>
    Fusce semper nisl vitae rutrum semper. Donec imperdiet erat eget lacus
    ultrices luctus. Ut vitae vestibulum ligula. Etiam purus nulla, vulputate ac
    efficitur sit amet, sollicitudin at ex. Vestibulum ante ipsum primis in
    faucibus orci luctus et ultrices posuere cubilia curae; Vivamus maximus dui
    sed nibh blandit cursus. Quisque scelerisque velit id dolor sagittis, a
    facilisis eros hendrerit.
  </p>
  <app-fab #appFab closeButtonText="Cancel">
    <button value="feature-1/action1" (click)="actionOneClick($event)">Action 1</button>
    <button value="feature-1/action2" (click)="actionTwoClick($event)">Action 2</button>
  </app-fab>
</div>
